<!DOCTYPE html><!-- Definicion de tipo de documento -->
<html lang="en"><!-- Apertura de la pagina html -->
<head><!-- Encabezado de la pagina html -->
    <meta charset="UTF-8"><!-- Codificacion de Caracteres especiales  -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!-- IE -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <title>::.. APP ACADEMICA ..::</title>
</head>
<body><!-- Contenido de la pagina html -->
    <div class="container" id="app">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="card text-bg-primary mb-3" style="max-width: 41rem;">
                    <div class="card-header text-bg-dark text-white fw-bolder">REGISTRO DE AUTORES</div>
                    <div class="card-body">
                        <form id="frmAutor" @submit.prevent="guardarAutor" @reset.prevent="nuevoAutor()">
                            <div class="row p-1">
                                <div class="col-3 col-md-3 fw-bolder">Codigo:</div>
                                <div class="col-9 col-md-2">
                                    <input class="form-control" type="text" v-model="autor.codigo" name="txtCodigoAutor" id="txtCodigoAutor">
                                </div>
                            </div>
                            <div class="row p-1">
                                <div class="col-3 col-md-3 fw-bolder">Nombre:</div>
                                <div class="col-9 col-md-8">
                                    <input class="form-control" type="text" v-model="autor.nombre" name="txtNombreAutor" id="txtNombreAutor">
                                </div>
                            </div>
                            <div class="row p-1">
                                <div class="col-3 col-md-3 fw-bolder">Pais:</div>
                                <div class="col-9 col-md-5">
                                    <input class="form-control" type="text" v-model="autor.pais" name="txtPaisAutor" id="txtPaisAutor">
                                </div>
                            </div>
                            <div class="row p-1">
                                <div class="col-3 col-md-3 fw-bolder">Telefono:</div>
                                <div class="col-9 col-md-3">
                                    <input class="form-control" type="text" v-model="autor.telefono" name="txtTelefonoAutor" id="txtTelefonoAutor">
                                </div>
                            </div>
                            <div class="row p-1">
                                <div class="col col-md-6">
                                    <input class="btn btn-warning text-white fw-bolder" type="reset" value="Nuevo Registro">
                                </div>
                                <div class="col col-md-6">
                                    <input class="btn btn-success text-white fw-bolder" type="submit" value="Guardar Datos">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="card text-bg-info">
                    <div class="card-header text-bg-danger text-white fw-bolder">CONSULTA DE AUTORES</div>
                    <div class="card-body">
                        <form>
                            <table class="table table-success table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>BUSCAR:</th>
                                        <th colspan="5"><input type="text" @keyup="listarAutors()" v-model="buscar" 
                                            class="form-control" placeholder="Busar por codigo, nombre, etc."></th>
                                    </tr>
                                    <tr>
                                        <th>CODIGO</th>
                                        <th>NOMBRE</th>
                                        <th>PAIS</th>
                                        <th colspan="5">TELEFONO</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="autor in autors" @click='modificarAutor(autor)' :key="autor.idAutor">
                                        <td>{{autor.codigo}}</td>
                                        <td>{{autor.nombre}}</td>
                                        <td>{{autor.pais}}</td>
                                        <td>{{autor.telefono}}</td>
                                        <td><button @click.prevent="eliminarAutor(autor)" class="btn btn-danger">Eliminar</button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        const { createApp } = Vue;
        createApp({
            data() {
                return {
                    buscar: '',
                    autors:[],
                    accion: 'nuevo',
                    autor:{
                        idAutor:0,
                        codigo:'',
                        nombre:'',
                        pais:'',
                        telefono:''
                    }
                }
            },
            methods:{
                nuevoAutor(){
                    this.accion = 'nuevo';
                    this.autor.idAutor = '';
                    this.autor.codigo = '';
                    this.autor.nombre = '';
                    this.autor.pais = '';
                    this.autor.telefono = '';
                },
                modificarAutor(autor){
                    this.accion = 'modificar';
                    this.autor = autor;
                },
                guardarAutor(){
                    this.listarAutors();
                    if(this.accion==='nuevo'){
                        this.autor.idAutor = new Date().getTime().toString(16);//las cantidad milisegundos y lo convierte en hexadecimal
                        this.autors.push(JSON.parse(JSON.stringify(this.autor)));
                    }else if(this.accion==='modificar'){
                        //hacer la busqueda y modificar el registro
                        let index = this.autors.findIndex(autor=>autor.idAutor==this.autor.idAutor);
                        this.autors[index] = JSON.parse(JSON.stringify(this.autor));
                    }else if(this.accion==='eliminar'){
                        let index = this.autors.findIndex(autor=>autor.idAutor==this.autor.idAutor);
                        this.autors.splice(index, 1);
                    }
                    localStorage.setItem('autors', JSON.stringify(this.autors));
                    this.nuevoAutor();
                },
                eliminarAutor(autor){
                    if(confirm(`Esta seguro de eliminar el autor ${autor.nombre}?`)){
                        this.accion="eliminar";
                        this.autor = autor;
                        this.guardarAutor();
                    }
                },
                listarAutors(){
                    this.autors = JSON.parse(localStorage.getItem('autors') || "[]")
                        .filter(autor=>autor.nombre.toLowerCase().indexOf(this.buscar.toLowerCase())>-1);
                }
            },
            created(){
                this.listarAutors();
            }
        }).mount('#app')
    </script>
</body>
</html>